@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;

}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*display: none; no me muestres el primer parrafo*/
}
/*p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}*/
.p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    width: 300px;
    height: 300px;
    border: 3px solid;
}
.p3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
.p4{
    font-size: 10vw;
}
.p5{
    font-size: 5vw;
}
.p6{
    font-size: 1vw;
}