body{
    background: lightblue;
}
@media screen and (mix-width: 600px){
 body{
    background: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24;
 }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body{
        background: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        background: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body{
        background: lightcoral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) 
@media (min-width: 1400px) { ... }  */